/*
    ArrowTable.css. Style sheet for arrow table.
    Designed and devloped by Jamauni Taylor
*/
div.arrow_table {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 80%;
  max-width: 400px;
}
div.arrow_element:hover {
  background-color: #83A3A0;
}
div.arrow {
  display: flex;
  width: 85%;
  height: 30px;
  padding: 10px 0px 10px 15%;
  background-color: #99BFBB;
  font-size: 2em;
  position: relative;
  clip-path: polygon(0% 50%, 15% 0%, 100% 0%, 100% 100%, 15% 100%);
  align-content: center;
  align-items: center;
}
div.arrow_table_item {
  width: calc(85% - 20px);
  margin-left: 15%;
  background-color: #E9F2F1;
  padding: 5px 0px 5px 20px;
}